.mat-stepper-horizontal {
  margin-top: 8px;
  padding: 4px 4px 0;

  background-color: #f6f6f6;

  border-radius: 3px;

  .mat-form-field {
    width: 300px;

    margin-top: 16px;
  }

  [mat-button] {
    margin-right: 10px;
  }
}
