.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  height: 50px;
  padding: 1px 10px 0;

  background-color: #00adb5;

  .brand {
    font-size: 1.2rem;
    color: #222831;
  }

  a {
    text-decoration: none;
    color: #52616b;

    font-size: 1rem;
    padding: 10px;
  }

  .nav-link:hover {
    color: #222831;
  }
}

.active {
  color: #222831 !important;
  background-color: #eeeeee;

  border-radius: 2px;
}
